
@{
    ViewData["Title"] = "Transfer";
}

@model FanthåmasBank.Models.ViewModels.TransferViewModel

<h2>Transfer</h2>

<div class="container">

    <span class="bg-danger"> @TempData["response"]</span>
    <span class="bg-success"> @TempData["responseSuccess"]</span>
    <span asp-validation-for="Amount" class="bg-danger"></span>

    <form asp-route-accountNumber="" asp-route-amount="" method="post">
        <label>Sender account number</label>
        <input name="senderAccountNumber" type="text" value="@Model.SenderAccountNumber" />
        <br />

        <label>Receiver account number</label>
        <input name="receiverAccountNumber" min="1" type="text" value="@Model.ReceiverAccountNumber" />
        <br />

        <label>Amount</label>
        <input name="amount" min="1" type="number" value="@Model.Amount" />
        <br />
        
        <input type="submit" name="transfer" formaction="Transfer/Transfer" value="Transfer" />
    </form>

</div>
